mount_luks_drive() {
	path=$1
	device="/dev/disk/by-id/$2"
	options=$3

	variable=${device##*_}
	variable=${variable/part/}
	map="disk-$variable"

	case "$path" in
		/*) ;;
		*)  path="/srv/mounts/$1" ;;
	esac

	if [ "$options" = "" ]; then
		options="rw,noatime"
	fi

	if [ -e $device ]; then
		if [ ! -e /dev/mapper/$map ]; then
			if [ "`mount |grep \" on $path \"`" = "" ]; then
				cryptsetup luksOpen $device $map
				mount -o $options /dev/mapper/$map $path
			fi
		fi
	fi
}

mount_drive() {
	path=$1
	device="/dev/disk/by-id/$2"
	options=$3

	case "$path" in
		/*) ;;
		*)  path="/srv/mounts/$1" ;;
	esac

	if [ "$options" = "" ]; then
		options="rw,noatime"
	fi

	if [ -e $device ]; then
		if [ "`mount |grep \" on $path \"`" = "" ]; then
			mount -o $options $device $path
		fi
	fi
}

standby() {
	device="/dev/disk/by-id/$1"
	secs=$2
	server=$3

	if [ "$server" != "" ]; then

		sshkey=`ssh_dedicated_key_storage_filename $server root`
		if ssh -i $sshkey root@$server "ls $device 2>/dev/null" >/dev/null; then
			if [ "$secs" != "" ] && [ "$secs" != "0" ]; then sleep $secs; fi
			ssh -i $sshkey root@$server sync
			ssh -i $sshkey root@$server "hdparm -y $device 2>/dev/null" >/dev/null
		fi

	elif [ -h $device ]; then

		if [ "$secs" != "" ] && [ "$secs" != "0" ]; then sleep $secs; fi
		sync
		hdparm -y $device
	fi
}
